/* Eric Ramos Cardona
Módulo 6 - Algoritmos I - Laboratorio "CARRITO DE LA COMPRA"
"Bootcamp de Javascript" 
https://campus-beta.lemoncode.net/ */

body {
    margin: 0;
    background-color: rgb(255, 225, 251);
}

#title {
    text-align: center;
}

#main {
    background-color: rgb(253, 251, 247);
    margin: 0 auto;
    padding: 1%;
    text-align: center;
    width: 30%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.c-carrito {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.c-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.product-unit {
    text-align: right;
    width: 30px;
}

.btn {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0;
}

h2 {
    margin: 0;
    padding: 3%;
}

h5,
h4 {
    margin: 0;
}